{{>partials/header}} 
<div class="row-i-8 pag-x" data-page="Blog">
   {{>partials/blog-components}} 
</div>
<div class="row-i-8">
  {{>partials/social-components}} 
</div>
<script type="text/javascript" src="/js/navbar-script.js"></script> 
</body>
</html>
