{{>partials/header}}
    <div class="row-i-12">
       <div class="col-img-i-4">
            <div class="text-i-align-1">
               <h1>entre em contato</h1>
               <p>Quer construir uma empresa
                mais inclusiva? Fale com a gente
                e contrate os serviços do ICOM, a 
                central de tradução simultânea de Libras da AME.</p>
                <p>Ao preencher os campos abaixo, 
                você automaticamente concorda com
                nossa.</p>
            </div>
       </div>
       <div class="col-img-i-4">
         {{>partials/form-components}}
       </div>
    </div>
    <div class="row-i-12">
        <div class="col-img-i-5">
           <div class="circle-map-i">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d914.4334293948571!2d-46.56079986236063!3d-23.54207794179871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e8cb0020dcd%3A0x4b63c6e530614b3c!2sR.%20Serra%20de%20Botucatu%2C%201197%20-%20Vila%20Gomes%20Cardim%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003317-001!5e0!3m2!1sen!2sbr!4v1686835270047!5m2!1sen!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
           </div>
        </div>
    </div>
    {{>partials/social}}
     <script type="text/javascript" src="/js/navbar-script.js"></script> 
 </body>
</html>