{{>partials/header}}
    <div class="row-i-14">
       <div class="col-13-i">
          <div class="i-col-x">
             <div class="circle-img">
                <img src="/images/o-que-e-icom.jpg"/>
             </div>
          </div>
          <div class="i-col-x">
              <div class="text-i-6">
                 <h1>FAQ</h1>
                 <p>Confira as perguntas mais frequentes sobre o ICOM</p>
              </div>
          </div>
       </div>
    </div>
    <div class="row-i-14">
        <div class="col-14-i">
           <div class="i-button">
               <button id="client" class="button" >NÃO SOU CLIENTE ICON</button>
               <button id="notclient" class="button active-button">SOU CLIENTE ICON</button>
           </div>

           <!--item-button-1-->
           <div class="i-client-x" style="display: none;">
            <div class="i-text-1">
                <h3>Como faço para habilitar câmera, microfone e áudio durante uma videochamada?</h3>
                <p>Clique nos respectivos ícones – microfone, câmera e áudio – como mostra imagem abaixo.</p>
                <div class="group-img-text">
                    <p>Cada botão possui sua função, veja a seguir:</p>
                    <img src="/images/FAQ1.png"/>
                </div>  
            </div>
           </div>
           
           <!--item-button-2-->
           <div class="i-client-x" id="i-notclient">
            <div class="i-text-1">
                <h3>Como posso contratar a ICON?</h3>
                <p>Para contratar o ICOM, entre em contato com nosso time pelo telefone (11) 2227-3904 e agende uma demonstração.<a href="#">Entre e contato</a></p>
            </div>
            <div class="i-text-1">
               <h3>Preciso comprar algum equipamento? </h3>
               <p>Sim, pode. Neste caso, podemos fazer uma conexão com o call center, permitindo ao surdo ligar diretamente para a empresa. Para saber qual seu pacote ideal
                <a href="#">clique aqui</a>
               </p>
            </div>
            <div class="i-text-1">
                <h3>Posso colocar no site da minha empresa?</h3>
                <p>Sim, pode. Neste caso, podemos fazer uma conexão com o call center, permitindo ao surdo ligar diretamente para a empresa. Para saber qual seu pacote ideal
                <a href="#">clique aqui</a></p>
                </p>
             </div>
             <div class="i-text-1">
                <h3>Posso pagar apenas pelo tempo utilizado?</h3>
                <p>Não. O ICOM é um serviço de disponibilidade, ou seja, nossos intérpretes estarão
                sempre disponíveis para atender sua empresa. Por isso, fechamos pacotes específicos para cada organização,
                evitando o desperdício. Para saber qual seu pacote ideal  <a href="#">clique aqui</a> </p>
             </div>
            </div>
        </div>
    </div>
    <div class="row-i-15">
      <div class="form-title">
         <p>Esse FAQ não foi útil para você?</p>
         <p>Ao preencher os campos abaixo, você automaticamente concorda com nossa política de privacidade de Dados.</p>
         <h1>mande a sua pergunta para nós</h1>
      </div>
      {{>partials/form-components}}
    </div>
       {{>partials/social-components}}
    </div> 
      <script type="text/javascript" src="/js/navbar-script.js"></script>  
  </body>
</html>
