{{>partials/header}}
    <header class="header-container">
    <div class="header-row">
        <div class="header-col">
             <div class="carousel">
               <div class="button-right-header">
                  <i class="fa-solid fa-chevron-right"></i>
               </div>
               <div class="button-left-header">
                  <i class="fa-solid fa-angle-left"></i>
               </div>
               <div class="circles"></div>
                <div class="carousel-items">
                    <div class="carousel-item" data-carousel="0">
                        <div class="carousel-i">
                            <h1>ICOM Digital</h1>
                             <div class="carousel-i-text">
                                 <p>
                                  Serviço de atendimento automático e interativo
                                  em Línguas de Sinais. Torne seu chatbot acessível
                                  para surdos com Libras!
                                 </p>
                             </div>
                             <div class="i-button">
                                <a href="#">
                                   <button type="button" class="button-header-slide">
                                     <p>Conheça mais</p>
                                     <i class="fa-solid fa-arrow-right-long"></i>
                                   </button>
                                </a>
                             </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-i">
                            <h1>Cartórios Acessíveis</h1>
                             <div class="carousel-i-text">
                                <p>Acessibilize o atendimento do seu cartório
                                para surdos com o ICOM, a Plataforma de Atendimento
                                em Língua de Sinais, em parceria oficial com a ANOREG Brasil</p>
                             </div>
                             <div class="i-button">
                                <a href="#">
                                   <button type="button" class="button-header-slide">
                                   <p>Conheça mais</p>
                                    <i class="fa-solid fa-arrow-right-long"></i>
                                   </button>
                                </a>
                             </div>
                        </div>
                    </div>
                  
                    <div class="carousel-item">
                        <div class="carousel-i">
                            <h1>ICOM: a gente se fala!</h1>
                             <div class="carousel-i-text">
                                <p>
                                   Plataforma de tradução simultânea de Libras
                                   por videochamada em todos os canais de atendimento
                                   da sua empresa. Acessibilidade em Libras
                                   com intérpretes profssionais a qualquer momento.
                                </p>
                             </div>
                             <div class="i-button">
                                <a href="#">
                                   <button type="button" class="button-header-slide">
                                     <p> Fale com especialista</p>
                                      <i class="fa-solid fa-arrow-down-long"></i>
                                   </button>
                                </a>
                             </div>
                        </div>
                    </div>
                     <div class="carousel-item">
                        <div class="carousel-i">
                            <h1> ICOM - Libras</h1>
                             <div class="carousel-i-text">
                                <p>
                                  Principal ferramenta de comunicação inclusiva
                                  do mercado conecta empresas com clientes e colaboradores
                                  surdos!
                                </p>
                             </div>
                             <div class="i-button">
                                <a href="#">
                                   <button type="button" class="button-header-slide">
                                     <p>Sobre a ICON</p>
                                     <i class="fa-solid fa-arrow-down-long"></i>
                                   </button>
                                </a>
                             </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
       <div class="header-col">
            <div class="ed_pd_row">
                <div class="ed_pd_column_blue column">
                   <div class="ed_pd_circle_img" id="circle_blue"></div>
                </div>
                <div class="ed_pd_column_yellow column">
                   <div class="ed_pd_circle_yellow" id="circle_yellow"></div>
                </div>
                <div class="ed_pd_column_rose column" id="column_rose">
                    <div class="ed_pd_circle" id="circle-rose"></div>
                </div>
            </div>
      </div>
    </div>
    </header>
    <main class="main-i-body">
          <div class="row-i-1">
              <div class="i-col">
                  <div class="circle-img"></div>
                  <div class="info-group">
                     <div class="info-title">
                        <h1>o que é o ICOM?</h1>
                     </div>
                     <div class="info-description">
                        <p>ICOM é a principal plataforma de tradução simultânea
                           de Libras do mercado que permite às empresas atender o cliente
                           surdo no seu próprio idioma – língua brasileira de sinais.
                           Desenvolvido pela AME, esta ferramenta proporciona a comunicação 
                           entre ouvintes e pessoas surdas em tempo real, por videochamada,
                           intermediada por um intérprete de Libras. O ICOM é um recurso de 
                           acessibilidade e inclusão social tanto para empresas que querem 
                           se conectar com o cidadão surdo quanto para aquelas que têm pessoas
                           surdas no seu quadro de funcionário.
                        </p>
                     </div>
                  </div>
              </div>

              <div class="i-col">
                  <div class="info-group" >
                     <div class="info-title">
                        <h1>como funciona?</h1>
                     </div>
                     <div class="info-description">
                        <p>O ICOM é uma ferramenta on-line de uso simples e intuitivo.
                           Disponível 24 horas por dia, 365 dias do ano, pode ser acessado
                           via aplicativo, link e QR code de um celular,
                           tablet ou computador com acesso à internet.
                        </p>
                     </div>
                  </div>
                   <div class="i-video">
                     <iframe
                       src="https://www.youtube-nocookie.com/embed/8aNBy2ZirQ4" 
                       title="YouTube video player" frameborder="0"
                       allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
                     </iframe>
                   </div>
              </div>
          </div>
          <div class="row-i-2">
                  <div class="row-i-2-num">
                      <div class="col">
                        <h1 style="margin-left: 30px;">+ <label class="count">8000</label> </h1>
                        <h3>Clientes</h3>
                      </div>
                      <div class="col">
                        <h1>+<label class="count">6000</label></h1>
                        <h3>Interpretes</h3>
                      </div>
                      <div class="col">
                        <h1>+<label class="count">4000</label>k</h1>
                        <h3>Atendimentos</h3>
                      </div>
                      <div class="col user">
                         <h1 style="margin-left: 10px;">+<label class="count">2000</label>K</h1>
                         <h3>Usuários</h3>
                      </div>
                  </div>
               </div>
           </div>
           
           <div class="row-i-3">
               <div class="circle-blue">
                 <div class="text-group">
                    <p class="text-number">1</p>
                    <p class="text-info">ICOM é a principal plataforma de tradução
                       simultânea de Libras do mercado que permite
                       às empresas atender o cliente surdo no seu próprio idioma.
                       Trata-se de uma ferramenta on-line, disponível 24 horas por dia,
                       que proporciona comunicação em tempo real entre ouvintes e surdos
                     </p>
                 </div>
                 <div class="circle-i-img" id="circle-1-3">
                     <img src="/images/ouvintes.png"/>
                 </div>
               </div>

                <div class="circle-rose">
                   <div class="text-group marginTop">
                     <p class="text-number">2</p>
                     <p class="text-info">
                      O ICOM pode ser acessado por QR code ou weblink
                     </p>
                   </div>
                   <div class="circle-i-img" id="circle-2-3">
                       <img src="/images/2-ouvintes.png"/>
                   </div>
               </div>

                <div class="circle-green">
                   <div class="text-group marginTop">
                     <p class="text-number">3</p>
                     <p class="text-info">
                      O atendimento é intermediado por um dos diversos intérpretes de Libras disponíveis on-line
                     </p>
                   </div>
               </div>
           </div>
           <div class="row-i-6">
             <div class="col-img-i">
               <div class="group-img">
                 <h1> Central de Intérpretes</h1>
                 <img src="/images/central-2.png" alt="call-center.png"/>
               </div> 

               <div class="balloon-text-1">
                 <div class="col-i-1">
                   <img src="/images/libras-img.png" alt="call-center.png"/>
                 </div>
             </div>
             <div class="balloon-text-2">
                <div class="col-i-1">
                  <img src="/images/portugues.png" alt="call-center.png"/>
                </div>
             </div>
             <div class="text-info-1">
                <p>Surdo</p>
             </div>
             <div class="text-info-2">
                <p>Ouvite</p>
                <p>(empresas e pessoas)</p>
             </div>
            </div>
          </div>
          <div class="row-i-7">
                  <div class="group-videos">
                    <div class="videos-title">
                       <h1>o que dizem os usuários</h1>
                    </div>
                    <div class="videos-row">
                       <div class="group-videos-col">
                          <video  controls>
                            <source src="/videos/2023-06-02 12-39-00.mkv"/>
                          </video>
                          <h3>Diego de Lima</h3>
                          <p>Curitiba/PR</p>
                       </div>
                       <div class="group-videos-col">
                          <video controls>
                            <source src="/videos/2023-06-02 12-40-42.mkv"/>
                          </video>
                          <h3>André Henrique Conrado</h3>
                          <p>Fortaleza/CE</p>
                       </div>
                    </div>
               </div>
            </div>
           </div>
           <div class="row-i-9">
             <div class="col-group-2">
                 <div class="col-i-2">
                     <div class="text-i-align">
                         <div class="text-i-5">
                             <h1>empresas</h1>
                             <p>O ICOM é uma ferramenta de responsabilidade social. 
                              Torne os canais de atendimento da sua empresa mais acessíveis e inclusivos.</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-i-2">
                 <div class="circle-i-align">
                  <div class="circle-8"></div>
                  <div class="circle-9" id="movementEight"></div>
                  <div class="circle-10">
                    <div class="circle-i" id="movementNine"></div>
                  </div>
                 </div>
                 </div>
             </div>
             <div class="col-group-2 marginTop60">
              <div class="col-i-3">
               <div class="circle-9"  id="movementTen"></div>
               <div class="circle-10">
                <div class="circle-i-1" id="movementLeven">
                  <img src="/images/images-empresa.jpg" alt="images-empresa"/>
                </div>
               </div>
              </div>
              <div class="col-i-3">
                <div class="text-i-5">
                  <div class="i-text-img-2">
                    <h1>ICOM para empresas</h1>
                </div>
                   <p>A <a href="#"><strong>AME</strong></a> desenvolveu o ICOM para que as empresas 
                    possam oferecer atendimento ao surdo dando um passo
                    importante na construção da cidadania e da inclusão.</p>
                    <p>Com o ICOM, plataforma de tradução simultânea de Libras,
                    a comunicação da empresa com o cidadão surdo ocorre de maneira
                    ágil e eficiente, gerando mais negócios e construindo uma sociedade mais igualitária.</p>
                </div>
              </div>
             </div>
          </div>
          <div class="row-i-9">
            <div class="carousel-soon">
               <div class="button-left-soon">
                  <i class="fa-solid fa-angle-left"></i>
               </div>
               <div class="button-right-soon">
                  <i class="fa-solid fa-chevron-right"></i>
               </div>
               <div class="carousel-soon-visible">
                   <div class="carousel-soon-items">
                      <div class="carousel-soon-item">
                          <img src="/images/logo-tipo/bb-seguros-logo.png"/>       
                      </div> 
                      <div class="carousel-soon-item">
                          <img src="/images/logo-tipo/bungie.png"/>      
                      </div>  
                      <div class="carousel-soon-item">
                          <img src="/images/logo-tipo/entu.png"/>        
                      </div>  
                      <div class="carousel-soon-item">
                          <img src="/images/logo-tipo/logo-reatech-brasil.png"/>        
                      </div>  
                      <div class="carousel-soon-item">
                          <img src="/images/logo-tipo/serasa-experian-new-logo-558B163E2C-seeklogo.com.png"/>         
                      </div> 
                      <div class="carousel-soon-item">
                          <img src="/images/logo-tipo/bb-seguros-logo.png"/>       
                      </div>    
                       <div class="carousel-soon-item">
                          <img src="/images/logo-tipo/bungie.png"/>      
                      </div>  
                   </div>
                </div>
            </div>
          </div>
         <div class="row-i-11">
            <div class="col-img-i-4">
             <div class="i-img-5">
               <img src="/images/img-button.png">
               <div class="text-img-3">
                 <h2>ICOM nas empresas</h2>
               </div>
             </div>
            </div>
            <div class="col-img-i-4">
                <div class="carousel-company">
                   <div class="button-company-left">
                       <i class="fa-solid fa-angle-left"></i>
                   </div>
                   <div class="button-company-right">
                      <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="circles-company"></div>
                      <div class="carousel-company-visible">
                        <div class="carousel-company-items">
                           <div class="carousel-company-item">
                              <div class="carousel-info">
                                    <p class="text-6">“Trabalho na área de produtos da Serasa Experian 
                                    há seis anos, sou surda de nascença, alfabetizada 
                                    em Libras e tenho o português como minha segunda língua.
                                    Além disso, atuo como voluntária no grupo de afinidade para
                                    Pessoa com Deficiência, em que discutimos a implementação das
                                    ações de diversidade e inclusão. Quando entrei na empresa, não 
                                    contávamos com a plataforma ICOM, mas assim que tivemos acesso achei
                                    um tanto inédita, pois a possibilidade de utilizar um interprete digital 
                                    me ajuda a estar disponível em todas as reuniões e eventos, mesmo aqueles
                                    marcados em cima da hora”</p>
                                    <p class="text-7">— ISABELLA PEREIRA</p>
                                    <p class="text-8">Colaboradora da área de Produtos da Serasa Experian</p>
                              </div>
                          </div>
                          <div class="carousel-company-item">
                             <div class="carousel-info">
                                <p class="text-6">"O ICOM deu segurança e versatilidade ao nosso projeto de inclusão.
                                Segurança para começarmos qualquer conversa com qualquer público, sabendo que, se
                                necessário, eles estarão disponíveis todos os dias, 24h por dia. E, versatilidade,
                                por ter intérpretes disponíveis para qualquer tipo de evento online”</p>
                                <p class="text-7">— CLÁUDIA BUZZETTE CALAIS</p>
                                <p class="text-8">Diretora Executiva da Fundação Bunge</p>
                              </div>
                          </div>
                          <div class="carousel-company-item">
                             <div class="carousel-info">
                                <p class="text-6">"Um dos principais pilares da ZF é o da diversidade e
                                inclusão. Com o suporte do ICOM, nos tornamos mais fortalecidos com 
                                a acessibilidade de comunicação de extrema qualidade garantida para os 
                                nossos preciosos funcionários com deficiência auditiva. Essa parceria faz
                                a ZF ainda mais inclusiva e diversa”</p>
                               <p class="text-7"> — DR. BRUNO BENEVIDES</p>
                               <p class="text-8">Coordenador Médico do Trabalho do PCMSO</p>
                              </div>
                          </div>
                          <div class="carousel-company-item">
                             <div class="carousel-info">
                                <p class="text-6">“Nossa experiência com o ICOM tem sido
                                um sucesso. Com ele passamos a proporcionar aos nossos 
                                clientes surdos maior autonomia e agilidade na comunicação
                                durante o atendimento presencial. A conversa flui bem, os tradutores 
                                demostram confiança e simpatia durante o atendimento. Isso tem causado 
                                um impacto muito positivo nos nossos cliente, que se sentem incluídos. 
                                A ferramenta também é muito prática e fácil de ser utilizada. Toda nossa 
                                equipe entendeu rapidamente seu funcionamento e passou a utilizá-la com facilidade”</p>
                                <p class="text-7"> — DIRETORIA DE RELACIONAMENTO COM O COOPERADO</p>
                                <p class="text-8">UNIMED Porto Alegre</p>
                              </div>
                             </div>
                       </div>
                       <div class="carousel-company-item">
                             <div class="carousel-info">
                                <p class="text-6">“Buscávamos por uma ferramenta que trouxesse maior 
                                flexibilidade ao uso dos intérpretes sem a necessidade do fator presencial.
                                Depois do processo de concorrência e das indicações de várias empresas parceiras,
                                selecionamos a ICOM, que oferece uma plataforma digital nos auxiliando com a
                                interpretação de libras e proporcionando um ganho em alcance e adaptabilidade.
                                Nós adotamos a ferramenta em 2019 e atualmente temos na Serasa Experian 22 
                                funcionários com deficiência auditiva, que podem se beneficiar da ICOM em
                                100% das reuniões, eventos corporativos e até consultas médicas. Ter acesso 
                                a essa tecnologia assistiva é essencial no dia a dia de trabalho, pois humaniza
                                as relações e cria um ambiente inclusivo e de equidade para todos os colaboradores”</p>
                         <p class="text-7"> — KELSON FERNANDES</p>
                         <p class="text-8">Head de desenvolvimento de talentos e liderança da Serasa Experian</p>
                              </div>
                          </div>
                     </div>
                </div>
             </div>
          </div>
          <div class="row-i-8">
             {{>partials/blog-components}}
          </div>
          <div class="row-i-8">
            {{>partials/social-components}} 
          </div>
       </div>
    </main>
    {{>partials/footer}}