{{>partials/header}}
<div class="container-x-10">
  <div class="col-x-13">
   <h3>POLÍTICA DE PRIVACIDADE</h3>
   <p>Este site é mantido e operado por AME Associação dos Amigos Metroviários dos excepcionais.</p>
   <p>Nós coletamos e utilizamos alguns dados pessoais que pertencem àqueles que utilizam nosso site. Ao fazê-lo, agimos na qualidade de controlador desses dados e estamos sujeitos às disposições da Lei Federal n. 13.709/2018
    (Lei Geral de Proteção de Dados Pessoais – LGPD).</p>
   <p> Nós cuidamos da proteção de seus dados pessoais e, por isso, disponibilizamos esta política de privacidade, que contém informações importantes sobre:</p>
   <p>– Quem deve utilizar nosso site</p>
   <p>– Quem deve utilizar nosso site</p>
   <p>– Quem deve utilizar nosso site</p>
   <p>– Quem deve utilizar nosso site</p>
   <h3>1. Dados que coletamos e motivos da coleta</h3>     
   <p>Nosso site coleta e utiliza alguns dados pessoais de nossos usuários, de acordo com o disposto nesta seção.</p>   
     <h3>1.1. Dados pessoais fornecidos expressamente pelo usuário</h3>
     <p>Nós coletamos os seguintes dados pessoais que nossos usuários nos fornecem expressamente ao utilizar nosso site:</p>
     <p>Dados para solicitação de contato:  </p>
     <p> – Nome</p>
     <p> – E-mail </p>
     <p> – Telefone</p>
     <p> – RG</p>
     <p> – CPF  </p>
     <p>A coleta destes dados ocorre nos seguintes momentos:</p>
     <p>– Quando o usuário preenche um formulário de solicitação de “Contato”.</p>
     <p>Os dados fornecidos por nossos usuários são coletados com as seguintes finalidades:</p>
     <p>– Dados de registro para solicitação de contato.</p>
     <h3>1.2. Dados pessoais obtidos de outras formas</h3>
     <p>Nós coletamos os seguintes dados pessoais de nossos usuários:</p>
     <p>– Endereço IP</p>
     <p>– Geolocalização</p>
     <p>– Durante o acesso e uso do site, gera estatísticas e métricas dos acessos.
     <p>A coleta destes dados ocorre nos seguintes momentos:</p>
     <p>Estes dados são coletados com as seguintes finalidades:</p>
     <p>– Análise de uso e navegação dos usuários dentro do site. Porém são dados anonimizados,
      não identificamos titulares de dados ao analisar o tráfego do website.</p>
     <h3>1.3. Dados sensíveis</h3>
     <p>O site não coleta dados sensíveis dos usuários.</p>
      <h3>2. Cookies</h3>
       <p>Cookies são pequenos arquivos de texto baixados automaticamente em seu dispositivo
        quando você acessa e navega por um site. Eles servem, basicamente, para seja possível
         identificar dispositivos, atividades e preferências de usuários.:</p>
         <p>Os cookies não permitem que qualquer arquivo ou informação sejam
          extraídos do disco rígido do usuário, não sendo possível, ainda, 
          que, por meio deles, se tenha acesso a informações pessoais que não
        tenham partido do usuário ou da forma como utiliza os recursos do site.</p>
        <h3>2.1. Cookies do site</h3>
        <p>Alguns de nossos parceiros podem configurar cookies nos dispositivos dos usuários
         que acessam nosso site.</p>
       <p>Estes cookies, em geral, visam possibilitar que nossos
        parceiros possam oferecer seu conteúdo e seus serviços ao 
        usuário que acessa nosso site de forma personalizada, por meio da
        obtenção de dados de navegação extraídos a partir de sua interação com o site.</p>
        <p>O usuário poderá obter mais informações sobre os cookies de terceiro e sobre a 
        forma como os dados obtidos a partir dele são tratados, além de ter acesso 
        à descrição dos cookies utilizados e de suas características, acessando o seguinte link</p>
        <p> <a href=" <p>Google Analytics – 
        https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=pt-br</p>">Google Analytics</a></p>
        <p>RD Station – https://legal.rdstation.com/pt/privacy-policy/</p>
        <p>As entidades encarregadas da coleta dos cookies poderão ceder as informações obtidas a terceiros.</p>
         <h3>2.3. Gestão de cookies</h3>
          <p>O usuário poderá se opor à utilização de cookies pelo site, bastando que os desative no momento em que começa a utilizar o site, seguindo as seguintes instruções:</p>
          <p>Ao acessar o site, o usuário terá a opção de bloquear ou de permitir a utilização de cookies, bastando que selecione a opção correspondente na caixa de diálogo (popup) 
          carregada automaticamente assim que nossa página é acessada.</p>
          <p>A desativação de todos os cookies, não entanto, não será possível, 
          uma vez que alguns deles são essenciais para que o site funcione corretamente.</p>
        <p>Além disso, a desativação dos cookies que podem ser desabilitados poderá prejudicar a experiência do usuário, uma vez que informações
         utilizadas para personalizá-la deixarão de ser utilizadas.</p>
          <h3>3. Coleta de dados não previstos expressamente</h3>
          <p>Eventualmente, outros tipos de dados não previstos expressamente
           nesta Política de Privacidade poderão ser coletados, desde que sejam
           fornecidos com o consentimento do usuário, ou, ainda, que a coleta seja 
           permitida com fundamento em outra base legal prevista em lei.</p>
           <p>Em qualquer caso, a coleta de dados e as atividades de 
           tratamento dela decorrentes serão informadas aos usuários do site.</p>
           <h3>4. Compartilhamento de dados pessoais com terceiros</h3>
           <p>Nós compartilhamos alguns dos dados pessoais mencionados nesta seção com terceiros.</p>
           <p>Os dados compartilhados são os seguintes:</p>
           <p>– Google Analytics</p>
           <p>– RD Station</p>
           <p>Estes dados são compartilhados pelas seguintes razões e para as seguintes finalidades:</p>
          <p>– Análise de navegabilidade do usuário dentro do site.</p>
          <p>Além das situações aqui informadas, é possível que compartilhemos
          dados com terceiros para cumprir alguma determinação legal ou regulatória,
          ou, ainda, para cumprir alguma ordem expedida por autoridade pública.</p>
          <p>Em qualquer caso, o compartilhamento de dados pessoais observará todas as
          leis e regras aplicáveis, buscando sempre garantir a segurança dos dados de 
          nosso usuários, observados os padrões técnicos empregados no mercado.</p>
          <h3>5. Por quanto tempo seus dados pessoais serão armazenados</h3>
          <p>O Site e Blog ICOM tem ambos como objetivo básico disseminar informações sobre
          o ICOM bem como notícias de interesse do universo dos surdos. Para tanto disponibiliza 
          formulários de solicitação de contato, solicitação de informações específicas, solicitação
          para recebimento de informativos periódicos, bem como canal de interação via blog.</p>
          <p>Os dados de usuários solicitantes destas demandas são armazenados por
          tempo indeterminado de forma a que periodicamente todos os usuários recebam 
          informativos diversos, noticias ou informações relevantes aos surdos. Mecanismos
          que permitem ao usuário se descadastrar da base de dados e interromper o recebimento
          de informativos estarão sempre disponíveis em todos os comunicados.<p>
          <p>A qualquer momento os usuários podem ainda solicitar a exclusão de 
          seus dados da base de dados, por meio de e-mail direcionado ao DPO 
          (privacidade@ame-sp.org.br). A exclusão dos dados neste caso ocorrerá no
          prazo máximo de 15 dias contatos da data de solicitação de exclusão.</p>
          <p>Contatos a partir da data de cadastramento, de dois em dois anos,
          serão enviadas mensagens aos usuários, solicitado a atualização de seus dados
          cadastrais bem como da renovação do termo de consentimento de uso dados. Os usuários
          que não realizarem atualizações em seus cadastros e no termo de consentimento de uso 
          de dados, terão os dados de seus cadastros anonimizados, porem mantendo a possibilidade
          dos mesmos, caso desejarem, reativar suas contas atualizando seus dados e termo de
          consentimento.</p>
          <p>Cabe salientar que, caso haja alguma justificativa legal ou regulatória, os dados poderão
          continuar armazenados ainda que a finalidade para a qual foram coletados ou tenham sido 
          tratados ou tenha se exaurido.</p>
          <p>Se você tiver alguma dúvida sobre este assunto, entre em contato conosco conforme indicado 
          na seção “Como entrar em contato conosco” deste documento. </p>
          <h3>6. Bases legais para o tratamento de dados pessoais</h3>
          <p>Cada operação de tratamento de dados pessoais precisa ter um fundamento 
          jurídico, ou seja, uma base legal, que nada mais é que uma justificativa que a autorize,
          prevista na Lei Geral de Proteção de Dados Pessoais.</p>
          <p>Todas as Nossas atividades de tratamento de dados pessoais possuem 
          uma base legal que as fundamenta, dentre as permitidas pela legislação. 
          Mais informações sobre as bases legais que utilizamos para operações de 
          tratamento de dados pessoais específicas podem ser obtidas a partir de nossos canais 
          de contato, informados ao final desta Política.</p>
          <h3>7. Direitos do usuário</h3>
          <p>O usuário do site possui os seguintes direitos, conferidos pela Lei de Proteção de Dados Pessoais:</p>
          <p>– confirmação da existência de tratamento;</p>
          <p>– acesso aos dados;</p>
          <p>– acesso aos dados;</p>
          <p>– correção de dados incompletos, inexatos ou desatualizados;</p>
          <p>– anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto na lei; </p>
          <p>– portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa, de acordo com a regulamentação da 
          autoridade nacional, observados os segredos comercial e industrial;  </p>
          <p>– eliminação dos dados pessoais tratados com o consentimento do titular, exceto nos casos previstos em lei;</p>
          <p>– informação das entidades públicas e privadas com as quais o controlador realizou uso compartilhado de dados;</p>
          <p>– informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa;</p>
          <p>– revogação do consentimento.</p>
          <p>É importante destacar que, nos termos da LGPD, não existe um direito
          de eliminação de dados tratados com fundamento em bases legais distintas 
          do consentimento, a menos que os dados seja desnecessários, excessivos ou tratados
          em desconformidade com o previsto na lei.</p>
          <h3>7.1. Como o titular pode exercer seus direitos</h3>
          <p>Os titulares de dados pessoais tratados por nós poderão exercer seus
          direitos a partir do envio de mensagem ao nosso Encarregado de Proteção 
          de Dados Pessoais, seja por e-mail (privacidade@ame-sp.org.br) ou por
          correspondência. As informações necessárias para isso estão na seção “Como entrar 
          em contato conosco” desta Política de Privacidade.</p>
          <p>Para garantir que o usuário que pretende exercer seus direitos é,
          de fato, o titular dos dados pessoais objeto da requisição, poderemos 
          solicitar documentos ou outras informações que possam auxiliar em sua correta 
          identificação, a fim de resguardar nossos direitos e os direitos de terceiros.
          Isto somente será feito, porém, se for absolutamente necessário, e o requerente 
          receberá todas as informações relacionadas.</p>
          <h3>8. Medidas de segurança no tratamento de dados pessoais</h3>
          <p>Empregamos medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos
          não autorizados e de situações de destruição, perda, extravio ou alteração desses dados.</p>
          <p>As medidas que utilizamos levam em consideração a natureza dos dados,
          o contexto e a finalidade do tratamento, os riscos que uma eventual violação geraria para os
          direitos e liberdades do usuário, e os padrões atualmente empregados no mercado por empresas
          semelhantes à nossa.</p>
          <p>Entre as medidas de segurança adotadas por nós, destacamos as seguintes:</p>
          <p>A AME utiliza tecnologias de segurança avançadas para garantir a proteção dos dados
          pessoais coletados, website e correlacionados. Os dados coletados e as conexões com o website
          são criptografados, priorizando a segurança e experiência do usuário.</p>
          <p>Ainda que adote tudo o que está ao seu alcance para evitar incidentes de segurança,
          é possível que ocorra algum problema motivado exclusivamente por um terceiro – como em caso de
          ataques de hackers ou crackers ou, ainda, em caso de culpa exclusiva do usuário, que ocorre, por
          exemplo, quando ele mesmo transfere seus dados a terceiro. Assim, embora sejamos, em geral,
          responsáveis pelos dados pessoais que tratamos, nos eximimos de responsabilidade caso ocorra uma situação excepcional como essas,
          sobre as quais não temos nenhum tipo de controle.</p>
          <p>De qualquer forma, caso ocorra qualquer tipo de incidente 
          de segurança que possa gerar risco ou dano relevante para qualquer
          de nossos usuários, comunicaremos os afetados e a Autoridade Nacional de Proteção de
          Dados acerca do ocorrido, em conformidade com o disposto na Lei Geral de Proteção de Dados.</p>
          <h3>9. Reclamação à uma autoridade de controle</h3>
          <p>Sem prejuízo de qualquer outra via de recurso administrativo ou judicial, 
          os titulares de dados pessoais que se sentirem, de qualquer forma, lesados, podem
          apresentar reclamação à Autoridade Nacional de Proteção de Dados.</p>
          <h3>10. Alterações nesta política</h3>
          <p>A presente versão desta Política de Privacidade foi atualizada pela última vez em: 01/12/2021.</p>
          <p>Reservamo-nos o direito de modificar, a qualquer momento, as presentes
          normas, especialmente para adaptá-las às eventuais alterações feitas em nosso
          site, seja pela disponibilização de novas funcionalidades, seja pela supressão 
          ou modificação daquelas já existentes.</p>
          <p>Desta forma, recomendamos visitar periodicamente nossa página que contempla esta política, para que
          você tenha conhecimento sobre as modificações.</p>
          <p>Caso sejam feitas alterações relevantes que requeiram um novo consentimento de sua parte, iremos publicar
              essa atualização e solicitar um novo consentimento de sua parte.</p>
          <h3>11. Como entrar em contato conosco</h3>
          <p>Para esclarecer quaisquer dúvidas sobre esta Política de Privacidade
            ou sobre os dados pessoais que tratamos, entre em contato com nosso
            Encarregado de Proteção de Dados Pessoais, por algum dos canais mencionados abaixo:</p>
         <p>E-mail: privacidade@ame-sp.org.br</p>
         <p>Telefone: +55 (11) 2360-8900</p>
     </div>
   </div>
    <script type="text/javascript" src="/js/navbar-script.js"></script> 
 </body>
</html>
