{{>partials/header}}

 <div class="row-i-12" style="height: 100vh;">
        <div class="col-img-i-5 display width53">
          <div class="i-img-x-align">
            <div class="i-img-x-6">
              <div class="circle-13">
                 <img src="/images/janela_de_libras.jpg" alt="janela_de_libras"/>
              </div>
             </div>
             <div class="i-img-x-7">
                <div class="circle-13" id="circle-13">
                </div>
             </div>
          </div>
        </div>
        <div class="col-img-i-5">
          <div class="text-i-6">
            <h1>Sobre o ICON</h1>
            <p>
              ICOM é uma das  principais plataformas de tradução simultanea do pais envolvendo
               libras, a língua brasileira de sinais. Trata-se de uma ferramenta que permite às 
               empresasprivadas e ao orgão publicos se comunica a  pessoassurda no seu proprio idioma
              </p>
              <p>
                Ainhado às boas páticas ambientais, sociais e de governança
                 (ESG na sigla em inglês), foi desenvolvido com objetivo de 
                 assegurar uma comunicação sem barreiras, reconhecer o potencial da pessoa
                  surda e o impacto positivo da inclusão desses brasileiros na sociedade e no mercado.
              </p>
              <p>
                A solução tem sido cada vez mais 
                adotada por empresas e órgãos públicos
                 que buscam uma comunicação direta e em tempo 
                 real com os milhões de brasileiros surdos.
              </p>
          </div>
        </div>
    </div>
    <div class="row-i-13">
      <div class="i-col-3">
        <div class="text-i-7">
           <h1>Conheça a ICON</h1>
            <div class="video-align">
              <div class="video-i">
                <iframe src="https://www.youtube-nocookie.com/embed/YgfXMcTp29M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
           </div>
        </div>
      </div>
    </div>
    <div class="row-i-13 top ">
        <div class="i-col-3">
            <div class="align-2">
              <div class="i-group">
                <p>
                  O ICOM nasceu de uma iniciativa
                 da AME, entidade que há mais de 
                 30 anos trabalha para favorecer a 
                 inclusão de pessoas que se deparam com
                 barreiras e desvantagens na relação com a sociedade
                 – seja por condições cognitivas, sensoriais, físicas
                 ou motoras. A concepção do ICOM foi baseada em anos de 
                 conhecimento e amplo investimento em inovação em busca de
                 inclusão social, ampliando assim o canal de comunicação entre
                 ouvintes e surdos que só falam a língua brasileira de sinais.
               </p>
            <button>Conheça mais</button>
           </div> 
          </div>
         </div>
         <div  class="i-col-3 displayFlex">
           <div class="align-img">
             <img src="/images/ame_positivo.png" height="330"/>
           </div>
         </div>
        </div>
        <div class="row-i-13">
             <div class="i-col-3">
                <div class="img-i-circle">
                  <img src="/images/icon-sobre.jpg" alt="icon-sobre.jpg"/>
              </div>
             </div>
              <div class="i-col-3">
                <div class="align-i-2" >
                  <div class="i-group">
                    <p>
                    De maneira simples e direta,
                    a comunicação via ICOM ocorre 
                    por videochamada, intermediada
                    por um intérprete de Libras, que
                    traduz a conversa do surdo para o
                    ouvinte e vice-versa.
                  </p>
                  <p>
                    A ferramenta também oferece ao surdo independência
                    e segurança para realizar tarefas cotidianas, como
                    concorrer a uma vaga de trabalho, fazer compras,
                    realizar consultas médicas, acompanhar os filhos 
                    em suas rotinas, entre outras atividades. Com o recurso,
                     o surdo pode desempenhar sozinho todas as atividades do dia
                      a dia, participando ativamente da vida social e familiar.
                  </p>
                  <p><strong>O ICOM funciona 24 horas por dia, 365 dias do ano.</strong></p>
                  <h3>ICOM, a gente se fala!</h3>
                   </div>
                </div>
             </div>
        </div>
         {{>pages/blog}}
         <!--JS-->
        <script src="/js/sobre.js"></script>
