<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo-tipo2.png" type="image/png">
    <link rel="stylesheet" href="/css/404.css"/>
    <title>Error 404</title>
    <style>
      
    </style>
</head>
<body>
     <div class="container-error">
        <div class="col-i-5">
            <h1>404</h1>
            <p>Página não encontrada</p>
        </div>
      
     </div>
</body>
</html>