<div class="col-i white">
   <div class="text-i-3" >
      <h1>nosso blog</h1>
      <p>Acompanhe todas as novidades do ICOM</p>
   </div>
   <div class="col-i-blog">
      <div class="center" style="color: #000;"><div>
   </div>
</div>
<script src="/js/blog-script.js"></script>