 <div class="col-i white">
      <div class="text-i-3" >
          <h1>nosso blog</h1>
          <p>Acompanhe todas as novidades do ICOM</p>
      </div>
       <div class="col-i-blog">
          <div class="center">
          {{#blogs}}
             <div class="blog-item">
                 <div class="blog-img">
                     <img src="/images/{{image}}" alt="image-icom.jpg"/>
                 </div>
                  <div class="blog-info">
                       <h3 class="fontsize">{{title}}</h3>
                        <p class="p-blue">{{data}}</p>
                        <p class="p-black">{{descrition}}</p>
                    </div>
              </div>
             {{/blogs}}

              <div class="col-i-pagination">
                <div class="pagination-i">
                <p class="p">Página 1 de 8</p>
                 <a href="#">
                    <div class="circle-pagination active-pagination">
                       <h3 class="h3">1</h3>
                    </div>
                  <a href="#">
                    <div class="circle-pagination">
                       <h3 class="h3">2</h3>
                    </div>
                   </a>
                  <a href="#">
                    <div class="circle-pagination">
                       <h3 class="h3">3</h3>
                    </div>
                   </a>
                  <a href="#">
                    <div class="circle-pagination resposiveDisplay" >
                       <h3 class="h3">4</h3>
                    </div>
                   </a>
                  <a href="#">
                    <div class="circle-pagination resposiveDisplay" >
                       <h3 class="h3">5</h3>
                    </div>
                   </a>
                </div>
          </div>
       </div>