  <div class="contact-col">
               <form method="POST" action="">
                   <div class=".contact-col-group-input">
                      <div class="input-error">
                          <label>Nome*</label>
                          <input type="text" name="name" id="1"/>
                         <div class="error-msg" id="msg-1"> Campos obrigatório*</div>
                      </div>
                      <div class="input-error">
                      <label>Email*</label>
                         <input type="email" name="email" id="2"/>
                         <div class="error-msg" id="msg-2"> Campos obrigatório*</div>
                      </div>
                   </div>
                    <div class=".contact-col-group-input">
                      <div class="input-error">
                          <label>Telefone*</label>
                          <input type="text" name="phone" id="3"/>
                          <div class="error-msg" id="msg-3"> Campos obrigatório*</div>
                      </div>
                      <div class="input-error">
                         <label>O que você procura?*</label>
                         <select type="text" name="perg-1" id="4">
                            <option value="">Selecione</option> 
                            <option value="Acessibilizar meu SAC com Libras">Acessibilizar meu SAC com Libras</option>
                            <option value="Conversar com colaboradores surdos">Conversar com colaboradores surdos</option>
                            <option value="Atender surdos presencialmente">Atender surdos presencialmente</option>
                            <option value="Tornar minha cidade acessivel">Tornar minha cidade acessivel</option>
                            <option value="Acessilizar eventos com intérpretes de Libras">Acessilizar eventos com intérpretes de Libras</option>
                            <option value="Acessilizar videos">Acessilizar videos</option>
                            <option value="Aprender Libras">Aprender Libras</option>
                            <option value="Ainda não sei">Ainda não sei</option>
                            <option value="Outra coisa">Outra coisa</option>
                         </select>
                         <div class="error-msg" id="msg-4"> Campos obrigatório*</div>
                      </div>
                   </div>
                    <div class=".contact-col-group-input">
                      <div class="input-error">
                          <label>Qual o perfil da empresa que você trabalha?*</label>
                          <select type="text" name="perg-2" id="5">
                            <option value="">Selecione</option>
                            <option value="Saúde (hospitais/clinicas)">Saúde (hospitais/clinicas)</option>
                            <option value="Logistica/indústria de base">Logistica/indústria de base</option>
                            <option value="Telefonias">Telefonias</option>
                            <option value="Cartórios">Cartórios</option>
                            <option value="Tribunais">Tribunais</option>
                            <option value="Financeiro">Financeiro</option>
                            <option value="Varejo">Varejo</option>
                            <option value="Prefeituras e Estados">Prefeituras e Estados</option>
                            <option value="Transporte">Transporte</option>
                            <option value="Outros">Outros</option>
                         </select>
                          <div class="error-msg" id="msg-5"> Campos obrigatório*</div>
                      </div>
                      <div class=".contact-col-group-input">
                       <div class="input-error">
                          <label>Qual o nome da empresa?*</label>
                          <input type="text" name="perg-3" id="6"/>
                          <div class="error-msg" id="msg-6"> Campos obrigatório*</div>
                        </div>
                      </div>
                      <div class="input-error">
                         <label>Você é surdo?*</label>
                           <select type="text" name="perg-4" id="7">
                             <option value="">Selecione</option>
                             <option value="sim">Sim</option>
                             <option value="sim">Não</option>
                           </select>
                         <div class="error-msg" id="msg-7"> Campos obrigatório*</div>
                      </div>
                   </div>
                   <div class=".contact-col-group-input">
                      <div class="input-error">
                          <label>Escreva uma menssagem</label>
                          <input type="text" name="description"/>
                      </div>
                   </div>
                   <div class="contact-col-checkbox">
                     <input type="checkbox"/>
                     <label> Quero sim me comunicar com o ICOM!:)</label>
                   </div>
                    <div class="contact-col-contract">
                     <label>Estou ciente e consordo com a <a href="">Política de Provacidade do ICON</a></label>
                   </div>
                   <div class="contact-col-button">
                     <button type="button" class="button-form">Enviar</button>
                   </div>
               </form>
            </div>
<script type="text/javascript" src="/js/form-script.js"></script> 
