<div class="row-i-8">  
  <div class="col-i-group">
      <div class="col-i-end">
         <div class="group-2">
            <div class="i-img-4">
                 <i class="fa-solid fa-location-dot"></i>
            </div>
             <h3 class="h3">Nossa localização</h3>
             <p class="p">Rua Serra de Botucatu, 1197  Tatuapé - 03317-001- São Paulo/SP</p>
          </div>
           <div class="group-2">
             <div class="i-img-4">
                <i class="fa-brands fa-whatsapp"></i>
              </div>
              <h3 class="h3">Conato</h3>
              <p class="p">(11) 0000-0000</p>
        </div>
        <div class="group-2">
            <div class="i-img-4">
                 <i class="fa-solid fa-envelope"></i>
            </div>
            <h3 class="h3">Fale com a gente</h3>
            <p class="p">contato-icom@ame-sp.org.br</p>
            <p class="p">Fale com  o DPO - privacidade@ame-sp.org.b</p>
        </div>
     </div>
  </div> 
    <div class="social">
          <div class="cicle-social">
          <a href="#">
             <i class="fa-brands fa-facebook"></i>
          </a>   
          </div>
          <div class="cicle-social">
            <a href="#">
              <i class="fa-brands fa-twitter"></i>
            </a>
           </div>
           <div class="cicle-social">
            <a href="#">
               <i class="fa-brands fa-linkedin-in"></i>
             </a>
           </div>
            <div class="cicle-social">
             <a href="#">
              <i class="fa-brands fa-instagram"></i>
              </a>
            </div>
            <div class="cicle-social">
              <a href="#">
                 <i class="fa-brands fa-youtube"></i>
              </a>
          </div>
     </div>
</div>   

