<div class="row-i-8">
        <div class="align-i-1">
        <div class="col-i-group">
            <div class="col-i-end">
              <div class="group-2">
               <div>
                <div class="i-img-4">
                  <img src="/images/icons8-localização-50.png" alt="localization"/>
                </div>
                 <h3 class="h3">Nossa localização</h3>
                 <p class="p">Rua Serra de Botucatu, 1197  Tatuapé - 03317-001- São Paulo/SP</p>
                </div>
              </div>
              <div class="group-2 top">
                <div>
                   <div class="i-img-4">
                    <img src="/images/icons8-smartphone-50.png" alt="cell.png"/>
                   </div>
                   <h3 class="h3">Contato</h3>
                   <p class="p">(11) 2360-8900</p>
                   <p></p>
                </div>
              </div>
              <div class="group-2 top">
                <div>
                  <div class="i-img-4">
                    <img src="/images/icons8-mensagem-48.png" alt="email.png"/>
                  </div>
                   <h3 class="h3">Fale com a gente</h3>
                   <p class="p">contato-icom@ame-sp.org.br</p>
                   <p class="p">Fale com  o DPO - privacidade@ame-sp.org.br</p>
                  </div>
                 </div>
              </div>
            </div>
            <div class="col-i-social">
                <div class="i-social">
                  <div class="circle-social">
                    <a href="https://www.facebook.com/icomlibras/"><ion-icon name="logo-facebook"></ion-icon> </a>
                  </div> 
                  <div class="circle-social">
                      <a href="https://twitter.com/IcomLibras"><ion-icon name="logo-twitter"></ion-icon></a>
                  </div>
                  <div class="circle-social">
                   <a href="https://www.linkedin.com/company/26192230/admin/"><ion-icon name="logo-linkedin"></ion-icon></a>
                  </div>
                  <div class="circle-social">
                   <a href="https://www.instagram.com/icomlibras/">
                    <ion-icon name="logo-instagram"></ion-icon>
                   </a>
                  </div>
                  <div class="circle-social">
                   <a href="https://www.youtube.com/channel/UCZEX82ZY3o7NLHdiSLt-DkA">
                    <ion-icon name="logo-youtube"></ion-icon>
                   </a>
                  </div>   
                </div>
            </div>
        </div> 
      </div>    