.row-i-18 {
    width: 100%;
    height: auto;
    background-color: rgb(56, 114, 214);
    display: flex;
    justify-content: center;
    align-items: center;

    .col-img-i-5 {
        width: 90%;
        height: auto;
        display: flex;
        align-items: center;
        padding: 40px 0;

        .i-img-x-align {
            width: 220px;
            height: 90vh;
            background-color: rgb(9, 14, 179);
            border-bottom-left-radius: 200px;
            border-bottom-right-radius: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10%;

            .circle-13 {
                width: 100%;
                height: 40%;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }

            }
        }

        .i-img-x-7 {
            width: 100px;
            height: 50vh;
            background-color: rgb(0, 255, 136);
            margin-top: 20%;
            border-top-left-radius: 200px;
            border-top-right-radius: 200px;
            border-bottom-left-radius: 200px;
            border-bottom-right-radius: 200px;
            display: flex;
            align-items: center;

            .circle-13 {
                width: 100%;
                height: 32%;
                border-radius: 100%;
                background-color: #fff;
            }
        }

        .text-i-6 {
            width: 100%;
            margin-top: 30%;

            h1 {
                padding: 20px 0;
                color: rgb(254, 232, 29);
            }

            p {
                max-width: 95%;
                line-height: 30px;
            }
        }

        .i-col-3 {
            width: 100%;
            height: auto;

            .text-i-7 {
                width: 100%;
                padding: 20px 0;

                h1 {
                    text-align: center;
                    color: blue;
                }
            }

            .video-align {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .video-i {
                    width: 50%;
                    height: 500px;
                    background-color: rgb(95, 94, 94);
                    border-radius: 25px;
                    overflow: hidden;

                    iframe {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .circle-i-18 {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .text-i-8 {
            width: auto;
            padding: 0 40px;
            margin: auto;

            p {
                max-width: 600px;
                color: #474747;
                margin-top: 10px;
                font-size: 18px;
            }

            .button-about {
                width: 100%;
                padding: 30px 0;

                a {
                    width: auto;
                    padding: 20px 30px;
                    background-color: rgb(34, 167, 109);
                    color: #fff;
                    border-radius: 50px;
                    text-transform: uppercase;
                }
            }
        }

        .text-i-9 {
            width: 100%;
            text-align: center;
            color: rgb(0, 128, 255);
        }
    }
}

.white {
    background-color: #fff;
}

.flex {
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .row-i-18 {
        flex-direction: column;

        #responsive-circle {
            display: none;
        }

        .col-img-i-5 {
            .i-col-3 {
                width: 100%;
                margin: auto;

                .video-align {
                    height: 300px;

                    .video-i {
                        width: 100%;
                        height: 100%;
                    }
                }

            }

        }
    }
}