.col-i-group {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.col-i-end {
    width: 100%;
    height: auto;
    border-radius: 200px;
    background-color: #3931ad;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 4s;
    padding: 10px;

    .group-2 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .i-img-4 {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                height: 25px;
            }
            
        }
    }

    .group-2{
        .h3 {
            width: 100%;
            text-align: center;
            margin-top: 10px;
            color: rgb(211, 191, 81);
        }

        .p {
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }
    } 
    .topgroup-2 {
        margin-top: -10px;
        flex-direction: column;
    }
}

.col-i-social {
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-i-social .i-social {
    width: 50%;
    height: auto;
    background-color: #120a88;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
   padding: 10px;
}



.circle-social {
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4ed68b;
    margin: 20px;
    border-radius: 50%;
}

.circle-social:hover {
    background-color: #4ed6cf;
}

.col-i-social .i-social a {
    margin: 30px;
}

.col-i-social .i-social a ion-icon {
    margin: 25px 0;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
}


@media (min-width: 700px) and (max-width: 900px){
    .col-i-end{
        width: 100%;
        border-radius: 0;
        margin: auto;
        margin-top: 10px;
    }
    .col-i-social .i-social {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .col-i-end{
        width: 100%;
        border-radius: 0;
        margin: auto;
        margin-top: 10px;
    }
    .col-i-social .i-social {
        width: 90%;
    }
}
